 <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	 <style>
		[v-cloak] {
			display: none;
		}
	 </style>  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app" style="display:normal;" v-cloak>

	<!-- http://www.w3schools.com/bootstrap/bootstrap_case_navigation.asp -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                       
	      </button>
	      <a class="navbar-brand" @click="setCurrentLink('About')" href="#">DevTools</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	      <!--
	        <li v-bind:class="{active : isCurrentLink('About')}">
	        	<a @click="setCurrentLink('About')" href="#">About</a>
	        </li>	      
	        <li v-bind:class="{active : isCurrentLink('Base64')}">
	        	<a  @click="setCurrentLink('Base64')" href="#" >Base64 Encode/Decode</a>
	        </li>
	        <li v-bind:class="{active : isCurrentLink('UrlEncode')}">
	        	<a @click="setCurrentLink('UrlEncode')" href="#">URL Encode/Decode</a>
	        </li>
	       --> 
	        <li v-bind:class="{active : isCurrentLink('ESQuery')}">
	        	<a  @click="setCurrentLink('ESQuery')" href="#">Convert SQL queries to ElasticSearch queries.</a>
	        </li>	        
	      </ul>    
	    </div>
	  </div>
	</nav>
	
<!-- Bootstrap requires a containing element to wrap elements http://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
 
	<form accept-charset="UTF-8">
	<div class="container-fluid">
		<div v-if="currentLink == 'About'" id="about"> 
			<!--A jumbotron indicates a big box for calling extra attention to some special content or information. http://www.w3schools.com/bootstrap/bootstrap_jumbotron_header.asp-->
			<div class ="row">
				<div class="jumbotron">
			  		<h1>Dev Tools</h1>
				</div>
			</div>
			
			<div class="row">
				<!-- 
				Bootstrap's grid system allows up to 12 columns across the page. http://www.w3schools.com/bootstrap/bootstrap_grid_basic.asp
				We can give different percentage of spllits to divs in different devices
				http://www.w3schools.com/bootstrap/bootstrap_grid_large.asp
				-->
				<div class="col-sm-4 col-md-4">
					<p><button type="button " @click="setCurrentLink('Base64')" class="btn btn-primary">Base64 Encode/Decode</button></p>
					<p>Base64 encode or decode UTF-8 data.
					</br>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<p><button type="button" @click="setCurrentLink('UrlEncode')" class="btn btn-primary">URL Encode/Decode</button></p>
					<p>Encode or Decode URL's with UTF-8 characters</p>
					</br>
				</div>
				
				<div class="col-sm-4 col-md-4">
					<p>
					<button type="button" @click="setCurrentLink('ESQuery')" class="btn btn-primary">Convert SQL query to ElasticSearch Query</button>
					<p>Generate MIB File by specifying metrics and alerts.</p>
					</p>
				</div>
			</div>
		</div>
	</div>		
		<div v-if="currentLink == 'Base64'" id="base64" class="container">
			<div class="row">
				<div>
					<div class="row">
						<div class="col-xs-12">
               				<label style="white-space:normal !important;">Text to be encoded/decoded</label></td>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<textarea id="base64_data" v-model="data" class="form-control" rows="5" v-on:input="clearResponse"></textarea>
						</div>
					</div>
					
        			<div class="row">             
            			<div class="checkbox col-sm-offset-0 col-sm-2 col-xs-offset-0 col-xs-4">
            				<label><input id="isUrlSafe" type="checkbox">URL Safe</label>
            			 </div>
        			</div>			
        					
					</br>
			        <div class="row">
            			<div class="col-sm-1 col-xs-2" >
                 			<button id="base64_encode"  @click="encodeBase64" class="btn btn-primary" type="button">Encode</button>
            			</div>
            			<div class="col-sm-1 col-sm-offset-0  col-xs-offset-1 col-xs-2" >
             				<button id="base64_decode" @click="decodeBase64"  class="btn btn-primary" type="button">Decode</button>
            			</div>
        			</div> 
					
				</div>
			</div>
		</div>

		<div v-if="currentLink == 'UrlEncode'" id="urlencode" class="container">
			<div class="row">
				<div>
					<div class="row">
						<div class="col-xs-12">
               				<label style="white-space:normal !important;">Text to be encoded/decoded</label></td>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<textarea id="urlencode_data" v-model="data" class="form-control" rows="5" v-on:input="clearResponse"></textarea>
						</div>
					</div>
					</br>
			        <div class="row">
            			<div class="col-sm-1 col-xs-2" >
                 			<button id="urlencode_encode" @click="encodeUrl" class="btn btn-primary" type="button">Encode</button>
            			</div>
            			<div class="col-sm-1 col-sm-offset-0  col-xs-offset-1 col-xs-2" >
             				<button id="urlencode_decode" @click="decodeUrl" class="btn btn-primary" type="button">Decode</button>
            			</div>
        			</div> 
					
				</div>
			</div>
		</div>

		<div v-if="currentLink == 'ESQuery'" id="esquery" class="container">
			<div class="row">
				<div>
					<div class="row">
						<div class="col-xs-12">
               				<label style="white-space:normal !important;">Enter you query in SQL format</label></td>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<textarea id="esquery_data" v-model="data" class="form-control" rows="5" v-on:input="clearResponse"></textarea>
						</div>
					</div>
					</br>
			        <div class="row">
            			<div class="col-sm-1 col-xs-2" >
                 			<button id="esquery_convert"  @click="getESQuery" class="btn btn-primary" type="button">Convert To ElasticSearch Query</button>
            			</div>
        			</div> 
					
				</div>
			</div>
			</br>

		</div>
		
		</br>
		</br>
		<div class="container">
			<div class="row">
				<div  id="response" v-html="getResponse()" class="col-md-8 col-sm-12" v-show="response.length > 0" v-bind:class="getMessageClass()" style="word-wrap: break-word">
					
				</div>
			</div>
		</div>
		
		<div v-if="currentLink == 'ESQuery'" id="esquery" class="container">
			<div class="row">
				<div>
					<h2>Help</h2>
					
					<h3>Supported Operations</h3>
					<p class="lead"> <em>Select, Max, Min, Avg, Group By, Order By, Count, And, Or, <, <=, !=, ==, >, >=, 
					contains(maps to 'match' query in ElasticSearch for doing full text search)  </em></p>
					
					<h3>Limitations</h3>
					<p class="lead"> 
					  <em>Does not support date/time values  </em> 
					  </br> 					
					  <em>For equality condition use '==' instead of '='  </em>
					</p>
					
										
					<h3>Examples</h3>
					<p class="lead">For an index 'student' with the following mapping,</p>
					<p>"{mappings: {"student_type" : { "properties" : {
					</br>"id" : { "type" : long},
					</br>"full_name" : { "type" : string}
					</br>"department_id" : { "type" : long},
					</br>"college_id" : { "type" : long},
					</br>"age" : { "type" : long},
					</br>"hobbies" : { "type" : string},
					</br>"hostler" : { "type" : boolean}   
					</br>}}}}"</p>
					
					<h4><blockquote><em>Find id and name of students studying at college '1'</em></blockquote></h4>
					<p> select id, full_name from student where college_id == 1;</p>
					
					<h4><blockquote><em>Find id and name of students studying at college '1' and containing 'tom' in full_name </em></blockquote></h4>
					<p> select id, full_name from student where college_id == 1 and full_name contains 'tom';</p>
										
					<h4><blockquote><em>Find id and name of students studying at college '1' or college '2' ordered by id in ascending order and name in descending order
					</em></blockquote></h4>
					<p> select id, full_name from student where college_id == 1 or college_id == 2 order by id asc, full_name dsc;</p>

					<h4><blockquote><em>Find id and name of students in hostel studying at college '1' and either in department '1' or department '2'</em> </blockquote></h4>
					<p>select id, full_name from student where college_id == 1 and hostler == true and (department_id == 1 or department_id ==2);</p>

					<h4><blockquote>Find total no. of students studying at college '1' </blockquote></h4>
					<p>select count(*) from student where college_id == 1;</p>
					
					<h4><blockquote>Find Min,Max and Avg age of students in each department of every college</blockquote></h4>
					<p>select Min(age),Max(age),Avg(age) from student group by college_id,department_id;</p>	
				</div>
			</div>
		</div>
	</div>
	</form>
</div>	
<!-- 
<h1>Result</h1>
</br>
<div v-html="response"></div>
-->					

<!-- Hashing, Unicode lookup, Epoch convert.-->
<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="../scripts/DevTools.js"></script>
<script>
	var devTools = new DevTools();
	var app = new Vue({
	
		el: '#app',
		data: {
			currentLink: 'ESQuery',
			data: '',
			response: '',
			isUrlSafe: false,
			responseAlert: ''
		},
		methods: {
			setCurrentLink: function(currentLink){
				this.currentLink = currentLink;
				this.data = '';
				this.response = '';
			},
			isCurrentLink: function(currentLink){
				return this.currentLink === currentLink;
			},
			getESQuery: function(){
				
				console.log('Getting ES Query');
				var promise = devTools.getESQuery(this.data);
				promise.then(this.consumeESQueryResponse, this.consumeErrorResponse);
			},
			consumeESQueryResponse: function(value){
				document.getElementById("esquery_data").focus();
				this.response = value.response;
				this.responseAlert = 'Success';
			},
			encodeBase64: function(){
				var promise = devTools.encodeBase64(this.isUrlSafe, this.data);
				promise.then(this.consumeBase64Response, this.consumeErrorResponse);
			},
			decodeBase64: function(){
				var promise = devTools.decodeBase64(this.isUrlSafe, this.data);
				promise.then(this.consumeBase64Response, this.consumeErrorResponse);			   					
			},
			consumeBase64Response: function(value) {
				document.getElementById("base64_data").focus();
				this.response = value.response;
				this.responseAlert = 'Success';
			},
			encodeUrl: function(){
				var promise = devTools.encodeUrl(this.data);
				promise.then(this.consumeUrlResponse, this.consumeErrorResponse);
			},
			decodeUrl: function(){
				var promise = devTools.decodeUrl(this.data);
				promise.then(this.consumeUrlResponse, this.consumeErrorResponse);			   					
			},	
			consumeUrlResponse: function(value) {
				document.getElementById("urlencode_data").focus();
				this.response = value.response;
				this.responseAlert = 'Success';
			},					
			consumeErrorResponse: function(error) {
				console.log('Error:' + error.response);
				var id = this.currentLink.toLowerCase() + '_data';
				document.getElementById(id).focus();
				this.responseAlert = 'Error';
				this.response = error.response.replace(/(?:\r\n|\r|\n)/g, '<br/>').replace(/ /g, '&nbsp;');
			},
			getMessageClass: function() {
				console.log("getMessageClass Called");
		        if (this.responseAlert == 'Error') {
                    return ['alert', 'alert-danger'];
                } else if (this.responseAlert == 'Success') {
                    return ['alert', 'alert-success'];
                } else {
                    return ['alert', 'alert-info'];
                }
			},
			clearResponse: function() {
				this.response = '';
			},
			getResponse: function() {
				return '<h1>Result</h1>' + '</br>' + this.response;
			}
		}
	});
</script>

</body>
</html>
